body {
   color:rgb(10, 10, 218);
}
.center {
    text-align: center;
}
.sizet {
    font-size: 80px;
}
.sizest {
    font-size: 40px;
}
.sizep {
    font-size: 20px;
}
.colorp {
    color: rgba(0, 0, 0, 0.726);
}
