body {
    color: rgb(3, 112, 185);
}

.center {
    text-align: center;
}

.sizet {
    font-size: 80px;
}

.sizest {
    font-size: 40px;
}

.sizep {
    font-size: 20px;
}

.colorp {
    color: rgb(12, 13, 14);
}

.colorbgr {
    background: linear-gradient(rgb(245, 110, 0), white, rgb(49, 166, 187));
}

.souligne {
    text-decoration: underline;
}

.entourer {
    border-width: 0px;
    border-style: dotted;
    border-color: rgb(3, 79, 129);
}

#titre {
    display: flex;
    justify-content: center;
}

#sous-titre-sfi {
    display: flex;
    justify-content: space-evenly
}


#section-sfi {
    display: flex;
    justify-content: space-between;
    gap: 90px;
}

#img {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

#title-brg {
    display: flex;
    justify-content: start;
}

#section-beauregard div {
    display: flex;
    gap: 200px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#img img:hover {
    transform: scale(1.05);
}

#img img {
    transition: transform 0.2s ease-in-out;
}

a {
    transition: color 0.1 ease;
}

a:hover {
    color: rgb(78, 38, 0);
}

p:hover {
    transform: scale(1.01);
}

p {
    transition: transform 0.3s ease;
}



@keyframes scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

h1 {
    animation: gauche-droite 1.6s linear 2;
}

@keyframes gauche-droite {
    25% {
        transform: translateX(-10px);
    }

    75% {
        transform: translateX(10px);
    }
}

#img img {
    animation: gauche-droite 1s ease-in-out infinite;
}

@keyframes gauche-droite {
    25% {
        transform: translateX(-3px)
    }

    75% {
        transform: translateX(3px)
    }
}
.filtre {
    filter: grayscale(1);
    transition: filter 0.2s ease-in-out;
}

.filtre:hover {
      filter: grayscale(0);  
}