body {
    color: #142d4c;
    padding: 30px;
}

h1 {
    color: #385170;

}

.center {
    text-align: center;
}

.sizet {
    font-size: 80px;
}

.sizest {
    font-size: 40px;
}

.sizep {
    font-size: 20px;
}

.colorp {
    color: #ececec;
}

.souligne {
    text-decoration: underline;
}

#titre {
    display: flex;
    justify-content: center;
}

#sous-titre-sfi {
    display: flex;
    justify-content: space-evenly
}


#section-sfi {
    display: flex;
    justify-content: space-between;
    gap: 90px;

}

#img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

#title-brg {
    display: flex;
    justify-content: start;
}

#section-beauregard div {
    display: flex;
    gap: 100px;
}
   
.shadow {
    box-shadow:
        #142d4c 9px -9px 5px 2px,
        #e68311 20px -19px 20px 3px;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#img img:hover {
    transform: scale(1.05);
}

#img img {
    transition: transform 0.2s ease-in-out;
}

a {
    transition: color 0.1 ease;
}

a:hover {
    color: #9fd3c7
}

.scale {
    transition: transform 0.3s ease;
}

.scale:hover {
    transform: scale(1.05);
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.03);
    }
}

@keyframes gauche-droite {
    25% {
        transform: translateX(-10px);
    }

    75% {
        transform: translateX(10px);
    }
}

#img img {
    animation: gauche-droite 1s ease-in-out infinite;
}

@keyframes gauche-droite {
    25% {
        transform: translateX(-1.5px)
    }

    75% {
        transform: translateX(1.5px)
    }
}
.filtre {
    filter: grayscale(1);
    transition: filter 0.2s ease-in-out;
}
.filtre:hover {
    filter: grayscale(0);
}

.first-color {
    background: #ececec;
}

.second-color {
    background: #9fd3c7;
}

.third-color {
    background: #385170;
}

.fourth-color {
    background: #142d4c;
}